@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

:root {
    --accent-color: #76b3b3;
    --accent-color-darken: #5e8f8f;
}

body {
    color: white;
    background-color: #101010;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    width: 100%;
    border: none;
}

a {
    cursor: pointer;
    color: var(--accent-color);
}

a:hover, a:active {
    color: var(--accent-color-darken);
}

button {
    border: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar-corner {
    display: none;
}

.logo {
    color: var(--accent-color);
    font-family: 'Yellowtail', cursive;
}