body {
    color: white;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

iframe {
    width: 100%;
    border: none;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    height: 5%;
    background: #fff;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #eee;
}
